extends ../layouts/admin_layout

block b1
	script(type="text/javascript" src='/static/lib/tinymce/tinymce.min.js')
	link(rel='stylesheet', href='/static/css/master.css')
  
block b3
	.mainslider.mainslider_adm
		.mpad.p1(ng-class='{act: true}')
			.margins
				.row
					.col-md-3.col-xs-12
						div(ng-controller='index')
							p.text-center
								img(src='/static/images/logo_transp_sm.png')
							h4.text-center.top30 Панель администрирования
							ul.list-group
								li.list-group-item
									a.bold(href='#/info') Общая информация
								li.list-group-item
									a.bold(href='#/users') Пользователи
								li.list-group-item
									a.bold(href='#/stead') Участки
								li.list-group-item
									a.bold(href='#/claims') Обращения
								li.list-group-item
									a.bold(href='#/reserves') Бронь/продажи
								li.list-group-item
									a.bold(href='#/gallery') Галереи
								li.list-group-item
									a.bold(href='#/params') Параметры
								li.list-group-item
									a.bold(href='/logout') Выход
					.col-md-9.col-xs-12.colordark
							div(ng-view=true)

block b4
	script(type="text/javascript", src="/static/lib/angular-file-upload/dist/angular-file-upload.min.js")
	script(type="text/javascript", src='/static/lib/angular-ui-tinymce/dist/tinymce.min.js')

	script(type="text/javascript", src='/static/js/admin/index.js')
	script(type="text/javascript", src='/static/js/admin/info.js')
	script(type="text/javascript", src='/static/js/admin/users.js')
	script(type="text/javascript", src='/static/js/admin/stead.js')
	script(type="text/javascript", src='/static/js/admin/claims.js')
	script(type="text/javascript", src='/static/js/admin/reserves.js')
	script(type="text/javascript", src='/static/js/admin/gallery.js')
	script(type="text/javascript", src='/static/js/admin/params.js')
	script(type="text/javascript", src='/static/js/account.js')
	script(type="text/javascript", src='/static/lib/angular-md5/angular-md5.min.js')
	script(type="text/javascript", src='/static/lib/angular-ui-tinymce/dist/tinymce.min.js')

