h4 Общая информация
.pad
	table.table
		thead
			tr
				th(width='90%') Показатель
				th Значение
				
		tbody
			tr
				td Пользователей
				td

			tr
				td 
					!=' &nbsp; - в том числе активных'
				td
					span.bold {{data.info.users_enabled_counter}}

			tr
				td 
					!=' &nbsp; - в том числе блокированых'
				td
					span.bold {{data.info.users_disabled_counter}}

			tr
				td Участков
				td
					span.bold {{data.info.steads_counter}}

