{
	"name": "michurino-dv.ru",
	"server":{
		"port": 3035
	},

	"db":{
		"connectionstring": "postgres://postgres:jlyfrj@127.0.0.1/michurino"
	},

	"memcache": [
		{ "host": "127.0.0.1", "port": 11211 }
	],

	"color_theme": {
		"silly": "rainbow",
		"input": "grey",
		"verbose": "cyan",
		"prompt": "grey",
		"info": "green",
		"data": "grey",
		"help": "cyan",
		"warn": "grey",
		"debug": "blue",
		"error": "red",
		"params": "yellow"
	},

	"filestore":{
		"temp": "/tmp",
		"path": "/home/serg/my/projects/michurino-dv.ru/uploads"
	},

	"cron":[
		{
			"interval": 300000,
			"method": "recalc_all_statuses"
		}
	],

	"email": {
		"checked": "yandex",
		"yandex": {
			"service": "Yandex",
			"user": "info@michurino-dv.ru",
			"pass": "rjgthybr",
			"name": "MICHURINO-DV.RU"
		}
	}


}