doctype html
html(lang='en', ng-app=ng_app)
	head

		meta(name="copyright", content="Мичурино")
		meta(charset='utf-8')
		meta(name="description", content="Участки под застройку в уютном котеджном посёлке Мичурино")
		meta(name="keywords", content="участки, купить, свой, дом, котедж, экологичный, чистый")
		meta(property="og:image", content="http://michurino-dv.ru/static/images/logo_transp.png")
		meta(name="viewport", content="width=device-width")
		link(rel="image_src", href="http://michurino-dv.ru/static/images/logo_transp.png")
		meta(name="yandex-verification", content="f24f5fa1864540b2")

		if title
			title=title

		//- Bootstrap
		link(rel='stylesheet', href='/static/lib/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='/static/lib/bootstrap/dist/css/bootstrap-theme.min.css')


		//- Toastr
		//- link(rel='stylesheet', href='/static/lib/toastr/toastr.min.css')
		//- link(rel='stylesheet', href='/static/lib/angularjs-toaster/toaster.css')
		

		// SweetAlert
		link(rel='stylesheet', href='/static/lib/sweetalert/dist/sweetalert.css')


		//- Myself

		//- JQuery
		script(src='/static/lib/jquery/dist/jquery.min.js')

		block b1

	body
		.mainslider(ng-controller='schem')
			block b5
			.mpad
				.row
					.col-lg-12
						include header
				.row
					.col-lg-12
						block b3
				.row
					.col-lg-12
						include footer
			.spacer


		//- SweetAlert
		script(src="/static/lib/sweetalert/dist/sweetalert.min.js")

		//- Bootstrap (вроде как не нужен, если есть Angular-bootstrap)
		script(src="/static/lib/bootstrap/dist/js/bootstrap.min.js")

		//- Angular
		script(src="/static/lib/angular/angular.min.js")
		script(src="/static/lib/angular-sanitize/angular-sanitize.min.js")
		script(src="/static/lib/angular-touch/angular-touch.min.js")
		script(src="/static/lib/angular-i18n/angular-locale_ru-ru.js")
		script(src="/static/lib/angular-route/angular-route.min.js")

		//- script(src="/static/lib/angular-animate/angular-animate.min.js")
		//- script(src="/static/lib/angular-cookies/angular-cookies.js")

		//- Moment
		//- script(src="/static/lib/moment/min/moment.min.js")
		//- script(src="/static/lib/moment/locale/ru.js")

		//- Angular-bootstrap
		//- script(src="/static/lib/angular-bootstrap/ui-bootstrap.min.js")
		//- script(src="/static/lib/angular-bootstrap/ui-bootstrap-tpls.min.js")

		//- Toastr
		//- script(src="/static/lib/toastr/toastr.min.js")
		//- script(src="/static/lib/angularjs-toaster/toaster.js")


		//- My
		script(src="/static/js/api.js")
		script(src="/static/js/geom.js")

		block b4
		script(type="text/javascript").
			(function (d, w, c) {
				(w[c] = w[c] || []).push(function() {
					try {
						w.yaCounter43016159 = new Ya.Metrika({
							id:43016159,
							clickmap:true,
							trackLinks:true,
							accurateTrackBounce:true
						});
					} catch(e) { }
				});
				var n = d.getElementsByTagName("script")[0],
					s = d.createElement("script"),
					f = function () { n.parentNode.insertBefore(s, n); };
				s.type = "text/javascript";
				s.async = true;
				s.src = "https://mc.yandex.ru/metrika/watch.js";
				if (w.opera == "[object Opera]") {
					d.addEventListener("DOMContentLoaded", f, false);
				} else { f(); }
			})(document, window, "yandex_metrika_callbacks");
		noscript
			div
			img(src="https://mc.yandex.ru/watch/43016159", style="position:absolute; left:-9999px;" alt="")
