
div.footer
	div(style='position: absolute; bottom:0; height:72px;background-color: #12846e; width:100%;')
	object#graph(type="image/svg+xml", data="/static/svg/footer.svg", width="100%", viewBox="0 0 1200 170", style='position: absolute; bottom:0;')
