div.mainheader
	img#graph(src="/static/svg/header.png", viewBox="0 12 2750 408")
	div.email
		a(href='mailto:' + params['email'])=params['email']
	div.phone=params['phone']
	div.prompt.bold!='Договориться о<br>просмотре участка'
	.menu
		each m, i in menu
			div( class='item' + ((i==selected)?' active':'') + (m.isbig?' big':'') )
				a(href=m.href)=m.caption
