.modal.fade.top30#modal_edit(tabindex="-1", role="dialog", aria-hidden="true")
	.modal-dialog.modal-lg
		.modal-content
			.modal-header
				button.close(type="button", data-dismiss="modal", aria-label="Close", ng-click="closereserve()")
					span(aria-hidden="true") &times;
				h3(ng-show='!(data.curr.idreserve>0)') Добавление бронирования/продажи
				h3(ng-show='(data.curr.idreserve>0)') Изменение бронирования/продаж
			.modal-body(style='background-color:#f9f9f9;')
				.tabbody
					table.table.table-condensed
						tbody
							tr
								td.text-right(width='30%', style='border: 0px; padding-top:10px;') Номер участка:
								td.bold(width='70%', style='border: 0px; padding-top:10px;', colspan=2)
								
									select.form-control.input-sm(ng-model='data.curr.idstead', ng-show='!(data.curr.idreserve>0)')
										option(ng-repeat='st in data.steads', ng-value='{{st.idstead}}') {{st.pp}}
									input.form-control(ng-show='(data.curr.idreserve>0)', value='{{data.curr.pp}}', readonly=true) 
							tr
								td.text-right Тип:
								td(colspan=2)
									//- input.form-control(ng-model='data.curr.type')
									select.form-control(ng-model='data.curr.type')
										option(value='reserved') бронирование
										option(value='sold') продажа
							tr
								td.text-right Фио:
								td(colspan=2)
									input.form-control(ng-model='data.curr.fio')
							tr
								td.text-right Телефон:
								td(colspan=2)
									input.form-control(ng-model='data.curr.phone')
							tr
								td.text-right Дата/время начала/конца
								td 
									input.form-control(ng-model='data.curr.from_dt')
								td 
									input.form-control(ng-model='data.curr.to_dt', ng-show="data.curr.type=='reserved'")
							tr
								td.text-right Номер договора:
								td(colspan=2)
									input.form-control(ng-model='data.curr.contract_nom')
							tr
								td.text-right Дата договора:
								td(colspan=2)
									input.form-control(ng-model='data.curr.contract_date')
							tr
								td.text-right Сумма договора:
								td(colspan=2)
									input.form-control(ng-model='data.curr.price')
							tr
								td.text-right Коментарий:
								td(colspan=2)
									textarea.form-control(ng-model='data.curr.note', rows=5)
			.modal-footer.margin0
				.row
					.col-xs-2.text-left
						button.btn.btn-sm.btn.btn-default(ng-click='closereserve()') Закрыть
					.col-xs-8
					.col-xs-2
						button.btn.btn-sm.btn-primary(ng-click='savereserve(data.curr)', ng-show='isNeedSave()') Сохранить

