include edit

h4 Обращения
.pad
	table.table
		thead
			tr
				th Участок
				th Дата/Время
				th(style='width: 27%;') Обращение
				th(style='width: 27%;') Телефон
		thead
			tr
				th
					select.form-control.input-sm(ng-model='data.filter.idstead')
						option(value=0) все
						option(ng-repeat='st in data.steads', value='{{st.idstead}}') {{st.pp}}
				th
				th
					input.form-control.input-sm(ng-model='data.filter.alias', placeholder='начни вводить')
				th
					input.form-control.input-sm(ng-model='data.filter.phone', placeholder='начни вводить')
		tbody
			tr(ng-repeat='cl in data.rows')
				td {{cl.pp}}
				td
					a.pointer(ng-click='showPanelEdit($index, $event)') {{moment(cl.dt).format('YYYY-MM-DD HH:mm')}}
				td {{cl.alias}}
				td {{cl.phone}}
