body{
	height: 100%;
	background: #21272c;
	display: block;
}
.mainslider{
	position: absolute;
	left: 16px;
	top: 16px;
	right: 16px;
	bottom: 16px;
	width: 100%;
	height: 100%;
	width: calc(100% - 32px);
	height: calc(100% - 32px);
	overflow: hidden;
	border-radius: 4px;
	box-shadow: 0 4px 16px rgba(0,0,0,.2);
}
.mainslider .mpad{
	float: left;
	margin: 0;
	height: 100%;
	width: 100%;
	left: 100%;
	display: block;
	position: absolute;
	border-radius: 4px;
	box-shadow: inset 0 3px 2px rgba(255,255,255,.02), inset 0 0 0 1px rgba(255,255,255,.08);
	color: #fff;
	font: 15px/25px "Whitney HTF", Whitney, "Alegreya Sans", Lato, sans-serif;
	text-shadow: 0 1px 3px rgba(0,0,0,.15);
	padding: 30px;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-ms-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	transition: all ease 0.5s;
	min-width: 640px;
	opacity: 0.1;
}
.mainslider .active{
	left: 0px !important;
	opacity: 1;
}
.p1{
	background: linear-gradient(45deg, #86c883, #009881);
}
.p2{
	background: linear-gradient(-45deg, #009881, #86c883);
}
button {
	border-radius: 4px;
	padding: 10px;
	border: solid 1px white;
	cursor: pointer;
	background-color: #009881;
	color: white;
}

input {
	border-radius: 2px;
	padding: 5px;
	border: solid 1px white;
	background-color: #eee;
	color: black;
}

button:active {
	border: solid 2px white;
}
button:hover {
	background-color: #00b69a;
}
hr{
	border-top: solid 1px white;
	padding-top:0x;
	margin-top:0x;
	padding-bottom:0x;
	margin-bottom:0x;
}
.frame1{
	float: left;
	position: relative;
	width: 180px;
}
.frame2{
	padding: 20px;
	float: left;
	position: relative;
	overflow-y: auto;
	height: 100%;
	width: 100%;
}
.percent80{
	height: calc(100% - 100px);
}
.percent20{
	height: 100px;
}
.percent100{
	height: 100%;
}

.colordark{
	color: #333;
}

.colordark a {
	color: #000;
	font-weight:800;
}

.top30{
	margin-top: 30px;
}