body{
	height: 100%;
	background: #21272c;
	display: block;
	position: relative;
}

.mainslider{
	position: relative;
	/*
	height: 100%;
	height: calc(100% - 32px);
	bottom: 16px;
	width: 1200px;
	*/
	border-radius: 4px;
	width: 1100px;
	margin: 16px auto;
}

.mainslider .mpad{
	margin: 0;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	box-shadow: 0 4px 16px rgba(0,0,0,.2);
	box-shadow: inset 0 3px 2px rgba(255,255,255,.02), inset 0 0 0 1px rgba(255,255,255,.08);
	color: #00977f;
	font: 15px/25px "Whitney HTF", Whitney, "Alegreya Sans", Lato, sans-serif;
	text-shadow: 0 1px 3px rgba(0,0,0,.15);
	padding: 0px;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	transition: all ease 0.3s;
	min-width: 640px;
	opacity: 1;
	background: #ededed;
	overflow: hidden;
}

.mainslider .act{
	display: block;
	opacity: 1;
}

.btn1{
	border-radius: 4px;
	padding: 10px;
	border: solid 1px white;
	cursor: pointer;
	background-color: #009881;
	color: white;
}


.inp {
	border-radius: 2px;
	padding: 5px;
	border: solid 1px white;
	background-color: #eee;
	color: black;
}

.btn1:act {
	border: solid 2px white;
}
.btn1:hover {
	background-color: #00b69a;
}


.right5{
	margin-right: 5px;
}

.dropbox{
	border: dashed #777 3px;
}

hr{
	border-top: solid 1px white;
	padding-top:0x;
	margin-top:0x;
	padding-bottom:0x;
	margin-bottom:0x;
}
.frame1{
	float: left;
	position: relative;
	width: 180px;
}
.frame2{
	padding: 0px;
	float: left;
	position: relative;
	overflow-y: auto;
	height: 100%;
	width: 100%;
}
.percent80{
	height: calc(100% - 100px);
}
.percent20{
	height: 100px;
}
.percent100{
	height: 100%;
}

.colordark{
	color: #333;
}

.colordark a {
	color: #000;
	font-weight:800;
}

.top4{margin-top: 0px;}
.top5{margin-top: 5px;}
.top30{margin-top: 30px;}

.padding30{
	padding: 30px !important;
}

.pointer{
	cursor: pointer;
}

.default{
	cursor: default;
}

.red{color: red !important;}
.green{color: green !important;}
.gray{color: #aaa !important;}

.margins{
	margin: 30px;
}

.shadow{
	-webkit-box-shadow: 0 0 10px 2px rgba(0,0,0,0.3) ;
	box-shadow: 0 0 10px 2px rgba(0,0,0,0.3) ;
}

.details{
	position:absolute;
	top: -100%;
	display: none;

	right: calc(18% - 150px);
	width: 300px;
	border: solid 1px white;
	border-radius: 4px;
	padding: 10px;
	background-color: #b4f499;
	overflow: hidden;
	margin-bottom: 30px;
	-webkit-transition: all ease 0.2s;
	-moz-transition: all ease 0.2s;
	-ms-transition: all ease 0.2s;
	-o-transition: all ease 0.2s;
	transition: all ease 0.2s;
	z-index: 9000;
}

/*
.details_visible{
	top: 400px !important;
	display: block !important;
}
*/


.details div{
	font-size:12px;
	padding: 0px;
	margin: 0px;
}

.details div.lbl{
	color: #888;
	text-align: left;
	white-space: nowrap;
	font-size: 15px;
	line-height: 16px;
	margin-top: 15px;
}

.details div.val{
	color: #009881;
	text-align: left;
	white-space: nowrap;
	border: solid 1px white;
	border-radius: 4px;
	line-height: 28px;
	font-size: 18px;
	background-color: white;
	padding-left: 10px;
}
