extends ../layouts/ang_layout

block b1
	link(rel="stylesheet", media="screen and (max-width: 1300px)", href="/static/css/master.css")
	link(rel="stylesheet", media="screen and (min-width: 1300px)", href="/static/css/master.css")

block b3
	.row
		.col-xs-3.text-center
		.col-xs-6
			h4(style='color: #777; line-height: 25px;')
				| В коттеджном посёлке планируется создание следующей инфраструктуры:
				ul
					li собственная эксплуатационная служба, выполняющая функции ТСЖ, в том числе:
						ul
							li поддержание мест общего пользования в надлежащем порядке;
							li уборка общественной территории и дорог;
							li освещение внутренних дорог и мест общего пользования;
							li вывоз бытового мусора;
							li охрана;
					li планирунтся газификация района;
					li гостевая автопарковка;
					li детская и спортивная площадки;
					li зона отдыха;
					li магазин;
					li водоём.
			h4 
				| Ознакомиться с планировкой участков и ценами вы можете на 
				a.pointer( href='/'  )  схеме
		.col-xs-3.text-right

block b4
	script(src='/static/js/root/index.js')







