extends ../layouts/ang_layout

block b1
	link(rel="stylesheet", media="screen and (max-width: 1300px)", href="/static/css/master800.css")
	link(rel="stylesheet", media="screen and (min-width: 1300px)", href="/static/css/master.css")

block b3
	.row
		.col-xs-2
		.col-xs-8
			.row
				.col-md-6
					div.top30.text-left
						big Тел.: 
						big=params['phone']
						br
						big E-mail:  
						big
							a(href='mailto:' + params['email'])=params['email']
				.col-md-6.text-center
					div.top30
						script(src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js")
						script(src="//yastatic.net/share2/share.js")
						div.ya-share2(data-services="vkontakte,facebook,odnoklassniki,whatsapp")
			.row.top30
				.col-md-12
					a.thumbnail(href="/static/images/sputnik2.png", target='_blank')
						img(src='/static/images/sputnik2.png')

		.col-xs-2

block b4
	script(src='/static/js/root/index.js')







