extends ../layouts/ang_layout
block b1
	link(rel='stylesheet', href='/static/css/master.css')

block b3
	.mainslider(ng-controller='root')
		.mpad.p1(ng-class='{active:mode}')
			.row.percent20
				.col-xs-2
					img(src='/static/images/logo_transp.png')
				.col-xs-8
					.row
						.col-xs-6
							br
							small Тел.: +7 (4212) 909090
						.col-xs-6.text-right
							div 
								small
									i Я знаю город будет!
							div 
								small
									i Я знаю саду цвесть... 
					.row
						.col-md-12
							hr
				.col-xs-2.text-right
					button(ng-click='turnNext()')
						span Схема
						small.glyphicon.glyphicon-chevron-right
			.row.percent80
				.col-xs-2
				.col-xs-8.percent100
					.frame2
						p здесь очень много хорошего проникновенного текста, прочитав который просто невозможно остаться равнодушным и не купить пару участков...
						p здесь очень много хорошего проникновенного текста, прочитав который просто невозможно остаться равнодушным и не купить пару участков...
				.col-xs-2.text-right



		.mpad.p2(ng-class='{active:!mode}')
			button(ng-click='turnNext()')
				small.glyphicon.glyphicon-chevron-left
				span  На главную

block b4
	script(src='/static/js/root/index.js')
