extends ../layouts/ang_layout

block b1
	link(rel='stylesheet', href='/static/css/master.css')

block b5
	include parts/details

block b3
	include parts/mainsvg

block b4
	script(src='/static/js/root/index.js')
