
style.
	.stead{
		fill: #eeeeee;
		stroke:#777777;
		stroke-width:1;
		stroke-linecap:butt;
		stroke-linejoin:miter;
		stroke-miterlimit:4;
		stroke-opacity: 1;
		stroke-dasharray:none;
		display:inline;
		cursor: pointer;
		-webkit-transition: all ease 0.3s;
		-moz-transition: all ease 0.3s;
		-ms-transition: all ease 0.3s;
		-o-transition: all ease 0.3s;
		transition: all ease 0.3s;
	}
	.stead:hover{
		stroke:green;
		stroke-opacity:1;
		stroke-width:5;
		fill:yellow;
	}

//-svg(xmlns:osb="http://www.openswatchbook.org/uri/2009/osb", xmlns:dc="http://purl.org/dc/elements/1.1/", xmlns:cc="http://creativecommons.org/ns#", xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#",  xmlns:svg="http://www.w3.org/2000/svg", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd", version="1.1", width="1536", height="1118" viewBox="0 0 3507 2550")
svg(xmlns:osb="http://www.openswatchbook.org/uri/2009/osb", xmlns:dc="http://purl.org/dc/elements/1.1/", xmlns:cc="http://creativecommons.org/ns#", xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#",  xmlns:svg="http://www.w3.org/2000/svg", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd", version="1.1", width="1024", height="745" viewBox="0 0 3507 2550")
	g(inkscape:groupmode="layer", id="layer1", inkscape:label="Границы", style="display:inline")

		path(style="fill:#dddddd;fill-opacity:1;stroke:#000000;stroke-width:1;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none", d="m 0,0 3505,0 0,2550 -3505,0 z", id="path01")

		path(style="fill:#fa0000;fill-opacity:0.0813008;stroke:#f00000;stroke-width:3;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none", d="m 464.12232,349.55902 274.42857,-20.03572 596.51781,-4.85714 61.9286,-5.16072 79.8393,-20.64285 115.9643,-40.98215 10.9286,38.55358 -34.3036,22.76785 -168.7857,108.98215 102.6071,124.46428 307.5179,371.26786 250.1428,-137.51786 123.8572,215.5357 949.875,162.7143 10.9285,43.7143 -314.8035,966.2678 -15.4822,79.8393 -250.1428,73.7679 -17.6072,37.0357 -803.25,-272 -121.125,-45.2322 -151.1785,28.8393 -2.125,5.4643 -58.8929,-16.0893 -92.8929,-162.4107 -865.4821,-498.7679 z", id="path3051")
		path(style="fill:#ffffff;fill-opacity:1;stroke:#ff0000;stroke-width:3;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none", d="m 1827.3438,1700.7812 470.3125,103.125 -169.5313,355.4688 -487.5,-232.8125 z", id="path2996")

	g(inkscape:groupmode="layer", id="layer3", inkscape:label="Дороги", style="display:inline")
		path(style="fill:none;stroke:#0058ff;stroke-width:3;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;display:inline", d="m 464.08823,349.61299 29.39453,-2.24609 0.0976,186.42577 17.77344,19.92188 998.7304,7.22656 24.0235,29.00391 -107.9102,-1.26954 -6.0546,312.10938 318.75,183.20314 300.3033,171.3887 189.0682,-246.1064 46.2658,8.0103 -822.3352,1060.3643 -41.5268,-11.6287 131.3435,-168.7192 -929.87665,-533.4262 9.375,-781.25 -159.76562,-2.34375 z", id="path3766")
		path(style="fill:none;stroke:#0058ff;stroke-width:3;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none", d="m 1051.8213,586.67383 317.0932,0 -3.3145,343.6097 637.5009,367.91647 -196.664,254.1165 -760.1398,-439.732 z", id="path3787")
		path(style="fill:none;stroke:#0058ff;stroke-width:3;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none", d="m 677.27571,582.25441 317.0932,0 -5.52427,562.37089 785.55146,454.0951 -193.3495,251.9068 -912.60972,-523.701 z", id="path3789")

	g(inkscape:groupmode="layer", id="layer4", inkscape:label="Участки", style="display:inline")
		path.stead(ng-repeat='st in data.rows', d="m {{st.start}} {{st.points}} z", title="{{st.s}}", ng-mouseover='hover(st)')
