
style.
	.stead{
		fill: #eeeeee;
		stroke:#777777;
		stroke-width:1;
		stroke-linecap:butt;
		stroke-linejoin:miter;
		stroke-miterlimit:4;
		stroke-opacity: 1;
		stroke-dasharray:none;
		display:inline;
		cursor: pointer;
		-webkit-transition: all ease 0.3s;
		-moz-transition: all ease 0.3s;
		-ms-transition: all ease 0.3s;
		-o-transition: all ease 0.3s;
		transition: all ease 0.3s;
	}
	.stead:hover{
		stroke:green;
		stroke-opacity:1;
		stroke-width:5;
		fill:yellow;
	}

svg(xmlns:osb="http://www.openswatchbook.org/uri/2009/osb", xmlns:dc="http://purl.org/dc/elements/1.1/", xmlns:cc="http://creativecommons.org/ns#", xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#",  xmlns:svg="http://www.w3.org/2000/svg", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd", version="1.1", width="1024", height="745" viewBox="0 0 3507 2550")
	g(inkscape:groupmode="layer", id="layer1", inkscape:label="Границы", style="display:inline")

		path(style="fill:#dddddd;fill-opacity:1;stroke:#000000;stroke-width:1;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none", d="m 0,0 3505,0 0,2550 -3505,0 z", id="path01")

		path(style="fill:#fa0000;fill-opacity:0.0813008;stroke:#f00000;stroke-width:3;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none", d="m 54.18318,144.21198 275.45737,-22.84393 596.42888,-11.38811 61.86837,-5.83847 79.6084,-21.515778 115.5087,-42.249386 11.35,38.431611 -34.0522,23.142073 -169.926,112.38616 106.3074,125.67712 307.6582,364.75359 250.9659,-139.46718 125.4285,214.94793 951.5995,153.08562 10.6252,45.93577 -306.5486,964.969 -13.8259,80.004 -250.1014,75.7211 -17.2006,38.7888 -805.4069,-266.1325 -120.7843,-43.9033 -152.2348,31.5978 -1.7888,7.1445 -59.3418,-18.4819 L 926.36086,1689.2499 54.15762,1199.988 z", id="path3051")
		path(style="fill:#ffffff;fill-opacity:1;stroke:#ff0000;stroke-width:3;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none", d="m 1429.2016,1481.1163 473.0469,99.2187 -167.7596,358.4124 -489.5283,-229.6205 z", id="path2996")

	g(inkscape:groupmode="layer", id="layer3", inkscape:label="Дороги", style="display:inline")
		path(style="fill:none;stroke:#0058ff;stroke-width:3;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;display:inline", d="m 54.31014,144.39452 28.97165,-2.63451 2.95294,186.01756 14.72071,17.19924 1000.05066,0.0984 25.5588,30.28455 -108.4155,0.17922 -0.098,310.33223 320.6608,175.58932 297.0743,171.89567 189.1183,-246.04556 43.3402,7.00731 -811.1477,1067.61045 -39.5363,-12.3906 131.7197,-171.2598 -936.26187,-525.9685 0.0707,-776.54497 -158.82141,-0.33803 z", id="path3766")
		path(style="fill:none;stroke:#0058ff;stroke-width:3;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none", d="m 643.86342,375.61279 318.26708,-0.27622 10e-5,341.60715 640.1168,360.47498 -195.1015,254.5071 -766.38981,-430.74761 z", id="path3787")
		path(style="fill:none;stroke:#0058ff;stroke-width:3;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none", d="m 268.00581,375.68184 321.02925,-0.20716 0,559.74686 786.43574,443.42596 -192.2752,255.2272 -915.73478,-514.326 z", id="path3789")

	g(inkscape:groupmode="layer", id="layer4", inkscape:label="Участки", style="display:inline")
		path.stead(ng-repeat='st in data.rows', d="m {{st.start}} {{st.points}} z", title="{{st.s}}", ng-mouseover='hover(st)')
