div#sidebar.details.shadow
	.row
		.col-xs-10
			label.top10 Выбран участок:
		.col-xs-2
			button.btn.btn-default.btn-sm(style='position: absolute; top0px; right: 0px;', ng-click='closeDetailsForm(data)')
				//small.glyphicon.glyphicon-minus
				small.glyphicon.glyphicon-remove.michurin
			//-  &times;
			//- img(src='/static/images/logo_transp.png')
	div
		.row
			.col-xs-12.lbl № участка:
			.col-xs-12.val {{data.curr.pp}}
		.row
			.col-xs-12.lbl Ряд:
			.col-xs-12.val {{data.curr.groupnum}}
		.row
			.col-xs-12.lbl № в кадастре:
			.col-xs-12.val {{data.curr.cadastr}}
		.row
			.col-xs-12.lbl 
				| Площадь
			.col-xs-12.val 
				span {{data.curr.s}} 
				span  м
				sup 2
		.row
			.col-xs-12.lbl Стоимость:
			.col-xs-12.val
				strong {{data.curr.price | currency}}
		.row(ng-show='data.curr.form')
			.col-xs-12(style='position: relative;')
				form.top10(ng-submit='sendReserveRequest(data.curr)')
					.alert.alert-info.padding10
						div(ng-show='!data.curr.form.sending')
							.row
								.col-md-10
									label.top10
										big Укажите телефон для связи:
								.col-md-2
									//- button.btn.btn-default.btn-xs(style='position: absolute; top0px; right: 0px;', ng-click='closeSendForm(data.curr)') &times;
									button.close(type="button", data-dismiss="modal", aria-label="Close", ng-click="closeSendForm(data.curr)")
										span(aria-hidden="true") &times;

							input#phone.form-control(placeholder='ваш телефон', ng-model='data.curr.form.phone')

							label.text-center.top10
								big Как к Вам обращаться?
							input#name.form-control(placeholder='имя', ng-model='data.curr.form.alias')

							.text-right
								button.btn1.top10 отправить


						div.text-center(ng-show='data.curr.form.sending')
							h4 отправляю...
							img(src='/static/images/progress25.gif')
			
		.row(ng-show='!data.curr.form')
			.col-xs-12.text-center
				button.btn1.top30(ng-click='stakeThis(data.curr)')
					span  забронировать

