
style.
	.stead{
		fill: #60ba80;
		stroke:#01a38e;
		stroke-width:5;
		stroke-linecap:butt;
		stroke-linejoin:miter;
		stroke-miterlimit:4;
		stroke-opacity: 1;
		stroke-dasharray:none;
		display:inline;
		cursor: pointer;
		-webkit-transition: all ease 0.27s;
		-moz-transition: all ease 0.27s;
		-ms-transition: all ease 0.27s;
		-o-transition: all ease 0.27s;
		transition: all ease 0.27s;
	}
	.stead:hover .labeltext{
		/*stroke:green;
		stroke-opacity:1;
		stroke-width:5;
		fill:yellow;
		*/
		font-weight: bold;
		stroke: red;
	}
	
	.stead.busy{
		fill: #12846e !important;
	}


	.selected, .selected:hover{
		/* stroke:red; 
		stroke-opacity:1;
		stroke-width:5; 
		fill: #009881;*/
		fill: #8fc479;
	}

	.labeltext{
		font-size:			140px;
		font-style:			normal;
		font-weight:		normal;
		line-height:		0%;
		letter-spacing:		0px;
		word-spacing:		0px;
		fill:				#000000;
		fill-opacity:		1;
		stroke:				none;
		font-family:		Sans;
		cursor:				pointer;
	}
	.labelspan{
		text-align:center;
		line-height:0%;
		text-anchor:middle;
		fill:#ff0000;
		fill-opacity:1;
	}

	.s1{
		font-size:24px;
		fill: #d5edea;
		stroke: #d5edea;
		stroke-opacity:1;
		stroke-width:1;
	}

	.busy .s1{
		fill: #000000;
		stroke: #000000;
	}

	.s2{
		font-size:20px;
		fill: #91da0a;
		stroke: #91da0a;
		stroke-opacity:1;
		stroke-width:1;
	}

	.busy .s2{
		fill: #000000;
		stroke: #000000;
	}

	.onselected tspan.s1,.onselected tspan.s2{
		fill: #ffffff;
	}

	.stepen{
		font-size:65%;
		baseline-shift:super;
	}

svg#mainsvg(xmlns:osb="http://www.openswatchbook.org/uri/2009/osb", xmlns:dc="http://purl.org/dc/elements/1.1/", xmlns:cc="http://creativecommons.org/ns#", xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#",  xmlns:svg="http://www.w3.org/2000/svg", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd", version="1.1", width="100%", viewBox="0 0 2270 1940")

	- var xml = fs.readFileSync('/home/serg/my/projects/michurino-dv.ru/static/svg/decor_new_fit.svg')
	g(inkscape:groupmode="layer", id="layer0", inkscape:label="декор", style="display:inline", )!= xml

	g(inkscape:groupmode="layer", id="layer4{{$index+1}}", inkscape:label="Участки", style="display:inline")
		path.stead(ng-attr-d="m {{st.start}} {{st.points}} z", ng-click='hover(st)', ng-repeat='st in data.rows', ng-class="{selected:st.selected, busy: st.status=='busy'}")
		text.labeltext(ng-repeat='st in data.rows', ng-click='hover(st)', ng-class='{onselected:st.selected}')
			tspan.labelspan.s1(ng-attr-x="{{st.center.x}}", ng-attr-y="{{st.center.y}}", ng-show='st.center.x>0')
				tspan(ng-bind='"№ "')
				tspan(ng-bind='st.pp')
			tspan.labelspan.s2(ng-attr-x="{{st.center.x}}", ng-attr-y="{{st.center.y+27}}", ng-show='st.center.x>0')
				!='{{st.s}} м'
				tspan.stepen!='2'

